.container{
	padding-right: 50px;
	padding-left: 50px;
}

.glyphicon{
	color:green;
}

.text_field{
	border-radius: 5px;
}

.errors{
	background-color: white;
	border-radius: 10px;
}

.divider{
    background-color: black;
}

.warning{
	color:black;
	background-color: yellow;
	border-radius: 10px;
	padding: 3px;
}

.warning .glyphicon{
	color:red;
}
